header{
    text-align: center;
    display: block;
    justify-content: space-between;
}
.links{
    display: block;
    justify-content: space-around;
}
.opener{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
}
h1{
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-bottom: 2%;
  }
#paragraph{
    text-align: center;
    background-color: #cce7e8;
    width: 60vw;
    height: auto;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid #092627 ;
}
.albums-container {
    display: flex; /* This makes the items appear side by side */
    gap: 20px; /* Adds space between the album lists */
    justify-content: space-around; /* Distributes the albums evenly across the container */
    padding: 20px; /* Adds some padding to the container */
    flex-wrap: wrap;
}
  
.album {
    background-color:  #095658; /* Background color for the albums */
    padding: 10px;
    border-radius: 10px;
    width: 200px; /* Set a fixed width for each album block */
    border: 3px solid black;
}
  
.album h2 {
    text-align: center;
}
  
.album ul {
    list-style-type: disc; /* You can customize the bullet points if needed */
    padding-left: 20px;
}
h2{
    text-align: center;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    border-radius: 5px;
    border: 2px solid black;
}